#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Navbar */
nav {  
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #24427b;
  color: #feb118;
  padding: auto;
}
nav img {
  display: flex;
  height: 10vh;
}
nav h1 {
  position:fixed; 
  top: 0;
  left: 0;
  left: 50%;
  font-size: 40px;
  transform: translateX(-50%);
}

.menu-btn {
  position: absolute;
  top: 0px;
  right: 3px;

  list-style: none;
  padding: 12px;

  background-color: white;
  border-radius: 8px;
}

.menu {
  position: absolute;
  top: 45px;
  right: 0px;

  list-style: none;
  padding: 12px;
  margin: 0;

  background-color: #30a2cb;
  border-radius: 8px;
}